<div class="container">
  <mat-card *ngFor="let blogEntry of (dataSource|async)?.items">
    <div style="display: flex;">
      <div>
        <img *ngIf="blogEntry.headerImage" [src]="URL + 'users/profile-image/' + $any(blogEntry.headerImage)">
        <img *ngIf="!blogEntry.headerImage" src="assets/placeholder.jpg">
      </div>
      <div style="margin-left:30px">
        <h2>{{blogEntry.title}}</h2>
        <p>{{blogEntry.description}}</p>
        <small>{{blogEntry.author?.name}}</small>
      </div>

    </div>
  </mat-card>
  <mat-paginator [length]="(dataSource|async)?.meta?.totalItems" [pageSize]="(dataSource|async)?.meta?.itemsPerPage"
    [pageSizeOptions]="[5, 10, 25, 100]" (page)="onPaginateChange($event)" showFirstLastButtons>
  </mat-paginator>
</div>
